{% extends "base.html" %}

{% block content %}
<div class="text-center">
    {% set parent_section = get_section(path="_index.md") %}
    {% for year, posts in parent_section.pages | group_by(attribute="year") %}
        <h2 class="text-2xl">
            {{ year }}
        </h2>
        <ul class="text-left">
            {% for post in posts %}
                <li>
                    <a class="w-full" href="{{ post.permalink }}">{{post.date}} {{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock content %}